.backgrid th, .backgrid td {
  font-weight: normal!important;
  text-align: left;
}

.backgrid thead th {
  border-left: 1px solid $border-color
}

.backgrid.backgrid-striped tbody {
  & tr:nth-child(even) {
    background: $table-bg-even;

    & td.editor {
      background: $table-bg-even;
      outline: none;
    }
  }
  & tr:nth-child(odd) {
    background: $table-bg-odd;
    & td.editor {
      background: $table-bg-odd;
      outline: none;
    }
  }  
}

.backgrid tbody tr.empty td {
  display: table-cell;
  font-style: normal;
  color: $text-muted;
}

.subnode > table.backgrid > thead > tr > th:last-child {
  border-right-color: $color-primary;
}

.backgrid .textarea-cell {
    text-align: left;
}

.backgrid .textarea-cell.editor textarea {
    width: 100%;
    height: auto;
}

/* Override Backgrid's default z-index */
.dashboard-tab-container .backgrid-filter .search {
  z-index: 10 !important;
}

.dashboard-tab-container .backgrid-filter .clear {
  z-index: 10 !important;
}

.backgrid .string-cell.editor input[type=password] {
  text-align: left;
}

.backgrid > tbody > td.editor input[type=password] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
}

.subnode > table.backgrid{
    width: 100%;
    margin: 0px;
    padding: 0;
}

.backgrid > thead > th {
    background: $color-bg-theme;
    text-align: left;
}

.backgrid thead td,
.backgrid thead th { 
  background-color: $color-bg-theme !important;
}


.backgrid,
.backgrid.backgrid-striped {
  & tbody tr:not(.nohover):not(.empty):hover {
    border-top: $table-hover-border;
    border-bottom: $table-hover-border;
    background-color: $table-hover-bg-color;
  }
}

.backgrid.presentation {
    background-color: $color-gray-light;
}

.backgrid td.renderable {
    padding: 6px 3px 3px 3px;
}

.sql-editor-grid-container .backgrid > thead > th.renderable,
.sql-editor-grid-container .backgrid > tbody > td.renderable {
    white-space: pre-wrap;
}

.alertify_tools_dialog_backgrid_properties {
  top: 43px !important;
}

table.backgrid {
  overflow: auto;
}

.backgrid td.editor input[type=password] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
}

.backgrid td.editor input[type=password]::-ms-clear {
  display: none;
}

.enable-selection, .form-control, .backgrid td, .ajs-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Latest backgrid adds column name like `label` to td element, override color*/
.backgrid td.label {
  color:  $color-gray-dark;
  font-size: 14px;
  font-weight: normal;
}

span.form-control:disabled {
  @extend .form-control:disabled
}
