.pgadmin-control-group {
  min-width: 34px;
}
.control-label {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 25px;
  display: inline-block;
  vertical-align: middle;
  min-height: 28px;
}

.pg-panel-properties-message {
  margin-top: 50px !important;
}
.show_progress {
  cursor: progress;
}
.user-language {
  margin-top: 10px;
}
.user-language label{
  float:left;
  font-weight: normal !important;
}
.user-language div{
  float:left;
}
.user-language select{
  height: 25px !important;
}

.Resizer {
  background: $color-gray-lighter;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  width: 100%;
  height: $panel-border-width;
  cursor: ew-resize;
  background-color: $panel-border-color;
}


.Resizer.vertical {
  width: $panel-border-width;
  cursor: ew-resize;
  background-color: $panel-border-color;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.pg-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  /*
   * Using the SVG postgresql logo, modified to set the background color as
   * #009DCF
   * https://wiki.postgresql.org/images/9/90/PostgreSQL_logo.1color_blue.svg
   */
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 42 42' style='enable-background:new 0 0 42 42;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bstroke:%23000000;stroke-width:3.3022;%7D .st1%7Bfill:%23336791;%7D .st2%7Bfill:none;stroke:%23FFFFFF;stroke-width:1.1007;stroke-linecap:round;stroke-linejoin:round;%7D .st3%7Bfill:none;stroke:%23FFFFFF;stroke-width:1.1007;stroke-linecap:round;stroke-linejoin:bevel;%7D .st4%7Bfill:%23FFFFFF;stroke:%23FFFFFF;stroke-width:0.3669;%7D .st5%7Bfill:%23FFFFFF;stroke:%23FFFFFF;stroke-width:0.1835;%7D .st6%7Bfill:none;stroke:%23FFFFFF;stroke-width:0.2649;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cg id='orginal'%3E%3C/g%3E%3Cg id='Layer_x0020_3'%3E%3Cpath class='st0' d='M31.3,30c0.3-2.1,0.2-2.4,1.7-2.1l0.4,0c1.2,0.1,2.8-0.2,3.7-0.6c2-0.9,3.1-2.4,1.2-2 c-4.4,0.9-4.7-0.6-4.7-0.6c4.7-7,6.7-15.8,5-18c-4.6-5.9-12.6-3.1-12.7-3l0,0c-0.9-0.2-1.9-0.3-3-0.3c-2,0-3.5,0.5-4.7,1.4 c0,0-14.3-5.9-13.6,7.4c0.1,2.8,4,21.3,8.7,15.7c1.7-2,3.3-3.8,3.3-3.8c0.8,0.5,1.8,0.8,2.8,0.7l0.1-0.1c0,0.3,0,0.5,0,0.8 c-1.2,1.3-0.8,1.6-3.2,2.1c-2.4,0.5-1,1.4-0.1,1.6c1.1,0.3,3.7,0.7,5.5-1.8l-0.1,0.3c0.5,0.4,0.4,2.7,0.5,4.4 c0.1,1.7,0.2,3.2,0.5,4.1c0.3,0.9,0.7,3.3,3.9,2.6C29.1,38.3,31.1,37.5,31.3,30'/%3E%3Cpath class='st1' d='M38.3,25.3c-4.4,0.9-4.7-0.6-4.7-0.6c4.7-7,6.7-15.8,5-18c-4.6-5.9-12.6-3.1-12.7-3l0,0 c-0.9-0.2-1.9-0.3-3-0.3c-2,0-3.5,0.5-4.7,1.4c0,0-14.3-5.9-13.6,7.4c0.1,2.8,4,21.3,8.7,15.7c1.7-2,3.3-3.8,3.3-3.8 c0.8,0.5,1.8,0.8,2.8,0.7l0.1-0.1c0,0.3,0,0.5,0,0.8c-1.2,1.3-0.8,1.6-3.2,2.1c-2.4,0.5-1,1.4-0.1,1.6c1.1,0.3,3.7,0.7,5.5-1.8 l-0.1,0.3c0.5,0.4,0.8,2.4,0.7,4.3c-0.1,1.9-0.1,3.2,0.3,4.2c0.4,1,0.7,3.3,3.9,2.6c2.6-0.6,4-2,4.2-4.5c0.1-1.7,0.4-1.5,0.5-3 l0.2-0.7c0.3-2.3,0-3.1,1.7-2.8l0.4,0c1.2,0.1,2.8-0.2,3.7-0.6C39,26.4,40.2,24.9,38.3,25.3L38.3,25.3z'/%3E%3Cpath class='st2' d='M21.8,26.6c-0.1,4.4,0,8.8,0.5,9.8c0.4,1.1,1.3,3.2,4.5,2.5c2.6-0.6,3.6-1.7,4-4.1c0.3-1.8,0.9-6.7,1-7.7'/%3E%3Cpath class='st2' d='M18,4.7c0,0-14.3-5.8-13.6,7.4c0.1,2.8,4,21.3,8.7,15.7c1.7-2,3.2-3.7,3.2-3.7'/%3E%3Cpath class='st2' d='M25.7,3.6c-0.5,0.2,7.9-3.1,12.7,3c1.7,2.2-0.3,11-5,18'/%3E%3Cpath class='st3' d='M33.5,24.6c0,0,0.3,1.5,4.7,0.6c1.9-0.4,0.8,1.1-1.2,2c-1.6,0.8-5.3,0.9-5.3-0.1 C31.6,24.5,33.6,25.3,33.5,24.6c-0.1-0.6-1.1-1.2-1.7-2.7c-0.5-1.3-7.3-11.2,1.9-9.7c0.3-0.1-2.4-8.7-11-8.9 c-8.6-0.1-8.3,10.6-8.3,10.6'/%3E%3Cpath class='st2' d='M19.4,25.6c-1.2,1.3-0.8,1.6-3.2,2.1c-2.4,0.5-1,1.4-0.1,1.6c1.1,0.3,3.7,0.7,5.5-1.8c0.5-0.8,0-2-0.7-2.3 C20.5,25.1,20,24.9,19.4,25.6L19.4,25.6z'/%3E%3Cpath class='st2' d='M19.3,25.5c-0.1-0.8,0.3-1.7,0.7-2.8c0.6-1.6,2-3.3,0.9-8.5c-0.8-3.9-6.5-0.8-6.5-0.3c0,0.5,0.3,2.7-0.1,5.2 c-0.5,3.3,2.1,6,5,5.7'/%3E%3Cpath class='st4' d='M18,13.8c0,0.2,0.3,0.7,0.8,0.7c0.5,0.1,0.9-0.3,0.9-0.5c0-0.2-0.3-0.4-0.8-0.4C18.4,13.6,18,13.7,18,13.8 L18,13.8z'/%3E%3Cpath class='st5' d='M32,13.5c0,0.2-0.3,0.7-0.8,0.7c-0.5,0.1-0.9-0.3-0.9-0.5c0-0.2,0.3-0.4,0.8-0.4C31.6,13.2,32,13.3,32,13.5 L32,13.5z'/%3E%3Cpath class='st2' d='M33.7,12.2c0.1,1.4-0.3,2.4-0.4,3.9c-0.1,2.2,1,4.7-0.6,7.2'/%3E%3Cpath class='st6' d='M2.7,6.6'/%3E%3C/g%3E%3C/svg%3E%0A")  0 0 no-repeat;
  background-size: 25px 25px;
}

.dashboard-pg-doc {
  display: inline-block;
  width: 50px;
  height: 50px;
  /*
   * Using the SVG postgresql logo, modified to set the background color as
   * black
   * https://wiki.postgresql.org/images/a/a4/PostgreSQL_logo.3colors.svg
   */
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 42 42' style='enable-background:new 0 0 42 42;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bstroke:%23000000;stroke-width:3.3022;%7D .st1%7Bfill:%23336791;%7D .st2%7Bfill:none;stroke:%23FFFFFF;stroke-width:1.1007;stroke-linecap:round;stroke-linejoin:round;%7D .st3%7Bfill:none;stroke:%23FFFFFF;stroke-width:1.1007;stroke-linecap:round;stroke-linejoin:bevel;%7D .st4%7Bfill:%23FFFFFF;stroke:%23FFFFFF;stroke-width:0.3669;%7D .st5%7Bfill:%23FFFFFF;stroke:%23FFFFFF;stroke-width:0.1835;%7D .st6%7Bfill:none;stroke:%23FFFFFF;stroke-width:0.2649;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cg id='orginal'%3E%3C/g%3E%3Cg id='Layer_x0020_3'%3E%3Cpath class='st0' d='M31.3,30c0.3-2.1,0.2-2.4,1.7-2.1l0.4,0c1.2,0.1,2.8-0.2,3.7-0.6c2-0.9,3.1-2.4,1.2-2 c-4.4,0.9-4.7-0.6-4.7-0.6c4.7-7,6.7-15.8,5-18c-4.6-5.9-12.6-3.1-12.7-3l0,0c-0.9-0.2-1.9-0.3-3-0.3c-2,0-3.5,0.5-4.7,1.4 c0,0-14.3-5.9-13.6,7.4c0.1,2.8,4,21.3,8.7,15.7c1.7-2,3.3-3.8,3.3-3.8c0.8,0.5,1.8,0.8,2.8,0.7l0.1-0.1c0,0.3,0,0.5,0,0.8 c-1.2,1.3-0.8,1.6-3.2,2.1c-2.4,0.5-1,1.4-0.1,1.6c1.1,0.3,3.7,0.7,5.5-1.8l-0.1,0.3c0.5,0.4,0.4,2.7,0.5,4.4 c0.1,1.7,0.2,3.2,0.5,4.1c0.3,0.9,0.7,3.3,3.9,2.6C29.1,38.3,31.1,37.5,31.3,30'/%3E%3Cpath class='st1' d='M38.3,25.3c-4.4,0.9-4.7-0.6-4.7-0.6c4.7-7,6.7-15.8,5-18c-4.6-5.9-12.6-3.1-12.7-3l0,0 c-0.9-0.2-1.9-0.3-3-0.3c-2,0-3.5,0.5-4.7,1.4c0,0-14.3-5.9-13.6,7.4c0.1,2.8,4,21.3,8.7,15.7c1.7-2,3.3-3.8,3.3-3.8 c0.8,0.5,1.8,0.8,2.8,0.7l0.1-0.1c0,0.3,0,0.5,0,0.8c-1.2,1.3-0.8,1.6-3.2,2.1c-2.4,0.5-1,1.4-0.1,1.6c1.1,0.3,3.7,0.7,5.5-1.8 l-0.1,0.3c0.5,0.4,0.8,2.4,0.7,4.3c-0.1,1.9-0.1,3.2,0.3,4.2c0.4,1,0.7,3.3,3.9,2.6c2.6-0.6,4-2,4.2-4.5c0.1-1.7,0.4-1.5,0.5-3 l0.2-0.7c0.3-2.3,0-3.1,1.7-2.8l0.4,0c1.2,0.1,2.8-0.2,3.7-0.6C39,26.4,40.2,24.9,38.3,25.3L38.3,25.3z'/%3E%3Cpath class='st2' d='M21.8,26.6c-0.1,4.4,0,8.8,0.5,9.8c0.4,1.1,1.3,3.2,4.5,2.5c2.6-0.6,3.6-1.7,4-4.1c0.3-1.8,0.9-6.7,1-7.7'/%3E%3Cpath class='st2' d='M18,4.7c0,0-14.3-5.8-13.6,7.4c0.1,2.8,4,21.3,8.7,15.7c1.7-2,3.2-3.7,3.2-3.7'/%3E%3Cpath class='st2' d='M25.7,3.6c-0.5,0.2,7.9-3.1,12.7,3c1.7,2.2-0.3,11-5,18'/%3E%3Cpath class='st3' d='M33.5,24.6c0,0,0.3,1.5,4.7,0.6c1.9-0.4,0.8,1.1-1.2,2c-1.6,0.8-5.3,0.9-5.3-0.1 C31.6,24.5,33.6,25.3,33.5,24.6c-0.1-0.6-1.1-1.2-1.7-2.7c-0.5-1.3-7.3-11.2,1.9-9.7c0.3-0.1-2.4-8.7-11-8.9 c-8.6-0.1-8.3,10.6-8.3,10.6'/%3E%3Cpath class='st2' d='M19.4,25.6c-1.2,1.3-0.8,1.6-3.2,2.1c-2.4,0.5-1,1.4-0.1,1.6c1.1,0.3,3.7,0.7,5.5-1.8c0.5-0.8,0-2-0.7-2.3 C20.5,25.1,20,24.9,19.4,25.6L19.4,25.6z'/%3E%3Cpath class='st2' d='M19.3,25.5c-0.1-0.8,0.3-1.7,0.7-2.8c0.6-1.6,2-3.3,0.9-8.5c-0.8-3.9-6.5-0.8-6.5-0.3c0,0.5,0.3,2.7-0.1,5.2 c-0.5,3.3,2.1,6,5,5.7'/%3E%3Cpath class='st4' d='M18,13.8c0,0.2,0.3,0.7,0.8,0.7c0.5,0.1,0.9-0.3,0.9-0.5c0-0.2-0.3-0.4-0.8-0.4C18.4,13.6,18,13.7,18,13.8 L18,13.8z'/%3E%3Cpath class='st5' d='M32,13.5c0,0.2-0.3,0.7-0.8,0.7c-0.5,0.1-0.9-0.3-0.9-0.5c0-0.2,0.3-0.4,0.8-0.4C31.6,13.2,32,13.3,32,13.5 L32,13.5z'/%3E%3Cpath class='st2' d='M33.7,12.2c0.1,1.4-0.3,2.4-0.4,3.9c-0.1,2.2,1,4.7-0.6,7.2'/%3E%3Cpath class='st6' d='M2.7,6.6'/%3E%3C/g%3E%3C/svg%3E%0A") 0 0 no-repeat;
  background-size: 50px 50px;
}

.panel-link-heading {
  text-decoration: none;
  color: inherit;
}

.panel-link-heading:hover {
  text-decoration: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: initial !important;
}

#navbar-user {
  font-size: $navbar-user-font-size;
}


.alert-box {
  padding: 15px; }

.alert-icon {
  display: table-cell; }

.alert-text {
  display: table-cell;
  padding-left: 10px; }

.alert-info {
  border-color: $color-primary-light; }

.color-chip {
  align-items: center;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  font-size: 1.25em;
  height: 70px;
  justify-content: center;
  margin: 0 0 0.5em;
  width: 100%; }

.bg-highlight {
  background-color: $color-primary-lighter; }

.bg-border {
  background-color: $color-primary-light; }

.opacity-5 {
  opacity: 0.5;  }

.alertify .ajs-header,
.alertify .ajs-body {
  font-family: $font-family-primary; }


@media (min-width: 768px) {
  .pg-navbar {
    height: $title-height;
  }

  .pg-navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pg-docker {
    top: $title-height !important;
  }
}

.pg-navbar {
  font-size: $navbar-font-size;
}

.pg-docker {
  position:absolute;
  left:0px;
  right:0px;
  top:$title-height;
  bottom:0px;
}

.pg-panel-content {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height: 100%!important;
}

.pg-prop-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom : 0px;
  z-index: 4;

  & .pg-prop-btn-group {
    min-width: 100%;
    left: 0px;
    right: 0px;

    &.pg-prop-btn-group-below {
      text-align: right;
      padding: $footer-padding;
      background: $color-bg-theme;
      border-top: $panel-border;
    }
  }
}



.pg-prop-btn-group .dropdown-menu {
  min-width: initial;
}

.pg-prop-btn-group .backgrid-filter.form-search {
  position: relative;
  width: 248px;
  height: 30px;
  float: right;
  margin-top: 2px;
  margin-right: 10px;
}

.pg-prop-content {
    position: absolute;
    overflow: auto;
    min-width: 100%;
//    padding-bottom: 7px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    height: 100%;
}

/* A generic class to make the overflow hidden of a DOM element */
.pg-no-overflow {
    overflow: hidden;
}


.pg-prop-has-btn-group-below {
    margin-bottom: 33px;
}

.has-pg-prop-btn-group {
    top: 45px;
    height: calc(100% - 45px);
}

.pg-prop-content > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pg-prop-content .uneditable-input {
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overow: ellipsis;
    height: auto !important;
}

.obj_properties .backform-tab {
    position: absolute;
    margin: 0px 0px 75px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.obj_properties .backform-tab > .tab-content {
    padding: 0px;
    overflow-y: auto;
    min-height: 100%;
    max-height: 100%;
    background-color: $color-gray-light;
}

.obj_properties {
    padding: 0px;
}

.obj_properties .pgadmin-control .uneditable-input {
    border: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background-color: transparent !important;
    height: 20px;
    padding: 0px;
    margin-top: 2px;
    vertical-align: middle;
}

.obj_properties .set-group {
    margin: 7px;
    padding: 6px;
    border: $panel-border;
    border-radius: 3px;
    max-width: 99% !important;
    background-color: $color-bg;
}

/* Message panel shown on browser tabs */
.pg-panel-message {
    margin-top: 25px !important;
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.pgadmin-control {
    padding: 0px 15px 5px 15px;
    margin-bottom: 0px;
    display: inline-block;
    height: 30px;
}


.pgadmin-control-group {
    margin: 0px;
    padding: 2px 0px;
}

.pgadmin-controls {
    padding-right: 3px;
    padding-left: 3px;
}
.pgadmin-controls.SQL {
  padding-right: 3px;
  padding-left: 1px;
  height: 100%;
}
.pgadmin-controls > textarea.form-control,
.pgadmin-controls > textarea.form-control:disabled {
   min-width: 100%;
   max-width: 100%;
}
.pgadmin-controls > div.checkbox, .pgadmin-controls > div.checkbox[disabled] {
    height: 28px;
}

.pgadmin-controls > .uneditable-input, .pgadmin-controls > .pgadmin-node-select,
.pgadmin-controls > input.form-control, .pgadmin-controls > select.form-control,
.pgadmin-controls > .uneditable-input:disabled,
.pgadmin-controls > .pgadmin-node-select:disabled,
.pgadmin-controls > input.form-control:disabled,
.pgadmin-controls > select.form-control:disabled {
    min-height: 28px;
    padding: 3px 6px !important;
}

.pgadmin-controls > span.select2 {
    width: 100%;
}

.obj_properties fieldset > div > .pgadmin-control-group > label {
    min-height: 28px;
}

.obj_properties fieldset > .fieldset-content {
  padding: 5px 10px;
}

.obj_properties .badge {
  display: block;
  text-align: left;
  cursor: pointer;
  background-color: $color-bg;
  padding: 5px 7px;
  font-size: 0.9em;
  border-bottom: $panel-border;
  border-radius: 0px;
}

.obj_properties .badge .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-top: -2px;
    margin-right: 4px;
    color: $color-primary;
}

.obj_properties .collapsed .caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid;
    vertical-align: middle;
    margin-top: -2.5px;
    padding-right: 0px;
}

.obj_properties table {
  display: table !important;
}

.obj_properties table tr {
    border: 0px $color-bg solid;
    margin: 1em;
}

.obj_properties .pgadmin-properties {
    border: 1px  $color-gray-dark solid;
    border-radius: 6px;
    padding: 5px;
    margin: 0.2px 2px 2px 2px;
}

.obj_properties table .spacer {
    height: 2em;
}

.obj_properties table td {
    vertical-align: middle;
}


fieldset.inline-fieldset {
    margin: 0px; margin-left: 2px; margin-right: 2px;
    padding-right: 10px; padding-left: 10px; padding-top: 6px; padding-bottom: 12px;
    border: 1px solid; border-radius: 5px;
    border-color: $color-gray-light; box-shadow: 0.1px 0.1px 0.1px $color-gray-lighter;
}

fieldset.inline-fieldset-without-border {
    margin: 0px; margin-left: 0px; margin-right: 0px;
    padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;
    border: 0px solid; border-radius: 0px; display: inline-block;
}

fieldset.inline-fieldset > legend {
    display: block; border: 0px solid $color-fg; box-shadow: none;
    box-sizing: content-box; top: auto; bottom: auto; left: auto;
    font-size: 14px; font-style: normal; font-weight: 600;
    height: 20px; line-height: 20px; margin: 0px; padding-bottom: 0px;
    padding-left: 5px; padding-right: 5px; padding-top: 0px;
    vertical-align: middle; width: auto;
}

fieldset.inline-fieldset-without-border legend {
    border: none; margin-bottom: 0px !important;
 }

fieldset.inline-fieldset > div {
    padding: 0px; margin: 0px; border: 0px;
}

/* Override CSS for Colour Picker to match it with pgAdmin4 style */
.sp-replacer {
  background: $color-bg;
  border: solid 1px $color-gray-light;
  border-radius: 3px;
}

.sp-replacer:hover {
  border-color: $color-gray-light;
}

.sp-replacer.sp-active {
  border-color: $color-primary-light;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sp-replacer.sp-disabled {
    background-color: $color-gray-lighter;
}

.sp-container {
  background-color: $color-bg;
  border: solid 1px $color-gray-light;
  border-radius: 3px !important;
}

.sp-palette-button-container button,
.sp-palette-button-container button:hover {
  padding: 5px;
  background-color: $color-primary;
  background-image: none;
  font-family: $font-family-primary;
  font-size: 12px;
  color: $color-fg-inverse;
  text-shadow: none;
  -webkit-font-smoothing: auto;
}

.sp-container button:active {
    border: 1px solid $color-primary;
    border-bottom: none;
    -webkit-box-shadow: inset 0 0 5px 2px $color-primary, 0 1px 0 0 $color-primary-light;
    -moz-box-shadow: inset 0 0 5px 2px $color-primary, 0 1px 0 0 $color-primary-light;
    -ms-box-shadow: inset 0 0 5px 2px $color-primary, 0 1px 0 0 $color-primary-light;
    -o-box-shadow: inset 0 0 5px 2px $color-primary, 0 1px 0 0 $color-primary-light;
    box-shadow: inset 0 0 5px 2px $color-primary, 0 1px 0 0 $color-primary-light;
}

.sp-dd {
  font-size: 8px;
  color:  $color-gray;
}

.pgadmin-control-error-message{
  padding-left: 4px;
}

.pgadmin-control-group.sql {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.pgadmin-control-group span.wcTabIcon {
  padding-left: 20px;
}

.pgadmin-controls input[type="checkbox"]{
  margin-left: 0 !important;
  margin-top: 10px !important;
}

.pgadmin-controls.sql_field_layout {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.pgadmin-controls.focused {
  border-color: $color-primary-light;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-primary, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-primary, .6);
}


.dashboard-tab-container,
.pg-panel-statistics-container,
.pg-panel-depends-container {
    width: 100%;
    overflow: auto;
    border-radius: $card-border-radius;
}

.pg-prop-header {
    position: absolute;
    left: 0px;
    right: 0px;
    top : 0;
    background-color: $color-bg;
    border-bottom: 1px solid $border-color;
}

/* Overrides/fixes for pgAdmin specific styling */

.highlight {
    padding: 5px;
    margin-bottom: 5px;
    background-color: $color-gray-lighter;
    border: 1px solid $color-gray-lighter;
    border-radius: 3px;
}

.icon-fa::before {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    display: inline-block;
    margin-left: -18px;
    margin-right: 9px;
}


.width_percent_5 { width: 5%; }
.width_percent_10 { width: 10%; }
.width_percent_15 { width: 15%; }
.width_percent_20 { width: 20%; }
.width_percent_25 { width: 25%; }
.width_percent_30 { width: 30%; }
.width_percent_35 { width: 35%; }
.width_percent_40 { width: 40%; }
.width_percent_45 { width: 45%; }
.width_percent_50 { width: 50%; }
.width_percent_55 { width: 55%; }
.width_percent_60 { width: 60%; }
.width_percent_65 { width: 65%; }
.width_percent_70 { width: 70%; }
.width_percent_75 { width: 75%; }
.width_percent_80 { width: 80%; }
.width_percent_85 { width: 85%; }
.width_percent_90 { width: 90%; }
.width_percent_95 { width: 95%; }
.width_percent_99 { width: 99%; }
.width_percent_100 { width: 100%; }


.sql_field_layout {
    border: 1px solid rgba($color-gray-light, 1) !important;
    border-radius: 4px;
    padding: 0px;
}

.navtab-inline-controls {
  
  height: $title-height;
  display: flex;
  text-align: right !important;
  border-bottom: $panel-border;

  & .input-group-text,
  & .form-control,
  & .btn {
    border: none;
    border-radius: 0px;
    border-left: $panel-border;
    height: 100%;
  }

  & .input-group {
    & .input-group-text {
      background: $color-bg-theme;
    }
    & .form-control {
      border-left: none !important;
    }
  }
}

.negative-space {
  min-height: 100%;
  min-width: 100%;
  background: $negative-bg;
  overflow: auto;
}

/* This rule will stop Chrome apply highlighting to elements such as DIV's used as modals */
*:focus {
  outline: none;
}

div.rolmembership {
    margin-top: 15px;
}

div.inline-tab-panel {
    float: left; width: 100%;
    background-color: $color-primary-fg;
    border: 1px solid $border-color;
    border-radius: 3px;
}

div.inline-tab-panel > ul.nav-tabs > li {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div.inline-tab-panel > ul.nav-tabs > li:first-child {
    border-top-left-radius: 3px; border-top-right-radius: 10px;
}

div.inline-tab-panel > ul.nav-tabs > li > a,
div.inline-tab-panel > ul.nav-tabs > li > a:active,
div.inline-tab-panel > ul.nav-tabs > li > a:hover,
div.inline-tab-panel > ul.nav-tabs > li > a:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.inline-tab-panel > ul.nav-tabs > li:first-child > a,
div.inline-tab-panel > ul.nav-tabs > li:first-child > a:active,
div.inline-tab-panel > ul.nav-tabs > li:first-child > a:hover,
div.inline-tab-panel > ul.nav-tabs > li:first-child > a:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 1px;
}

div.inline-tab-panel > ul.tab-content {
  padding-left: 5px; padding-right: 5px; border-color: $color-gray-lighter;
  border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
  border-width: 0px 1px 1px 1px; border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; border-style: solid solid;
}

div.inline-tab-panel > .tab-content {
  padding: 0px;
  margin: 0px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.inline-tab-panel > .tab-content > div.tab-pane {
  padding: 0px;
}

div.inline-tab-panel > ul.tab-content > div.tab-pane {
  min-height: 150px; padding: 0px !important;
}

div.inline-tab-panel > ul.tab-content > div.tab-pane > *:first-child {
  margin-top: 5px;
}

div.inline-tab-panel > ul.tab-content > div.tab-pane > *:last-child {
  margin-bottom: 5px;
}

div.inline-tab-panel > .tab-content > div.tab-pane div.subnode-header {
  border: none !important;
}
div.inline-tab-panel > .tab-content > div.tab-pane div.subnode table.table-bordered {
  border-left: none;
  border-right: none;
}

div.inline-tab-panel > .tab-content > div.tab-pane div.subnode table.table-bordered tr > td:first-child {
  border-left: none !important;
}

table tr th {
  & button {
    background: none;
    border: none;
    color: $color-fg-theme;
    padding: 0;
  }
  & button:focus {
    outline: none;
  }
}


.privilege_label{
  font-size: 10px!important;
}

span.button-label {
  font-family: $font-family-primary;
  font-size: initial;
}

form[name="change_password_form"] .help-block {
    color: $color-danger !important;
}

/* For Backup & Restore Dialog */
.custom_switch_label_class {
  min-width: 0px !important;
  padding-bottom: 10px !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

.custom_switch_control_class {
  min-width: 0px !important;
  padding-bottom: 10px !important;
}

/* animate blink */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;

}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.close-error-bar {
  background: $color-danger;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}

.close-error-bar a {
  color: $color-danger-fg !important;
  cursor: pointer;
}

.help-block {
  white-space: normal;
}

/* Disable text selection where not wanted */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Security label's label column font size */
.override_label_class_font_size {
  font-size: inherit !important;
}

/* CSS for custom checkbox editor in SlickGrid */
.multi-checkbox .check {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  border: 1px solid  $color-gray-dark;
  margin: 3px;
  text-align: center;
  line-height: 16px;
}

.multi-checkbox .check.checked,
.multi-checkbox .check.unchecked {
  background: $color-bg;
}

.multi-checkbox .check.partial {
  background: $color-gray-lighter;
}

.multi-checkbox .check.checked:after {
  content: "\2713";
}

.multi-checkbox .check.partial:after {
  content: "\003F";
}

/* This is to be changed */
/*.navbar-nav > .nav-item > a, .navbar-inverse .navbar-nav > li > a {
	color: $color-fg-inverse;
}

.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background: $color-gray-dark none;
}*/

.pg-el-container {
  background-color: $color-gray-lighter;
}

.nav-tabs {
  background-color: $color-bg-theme;
}
