.preferences_tree{
  padding: 0px;
  padding-top: 2px;
  height: 100%;
  overflow: auto;
  border-right: 2px solid $color-gray-light;
  background-image: $color-gray-lighter;
}

/*
.preferences_content .pgadmin-controls .shift,
.preferences_content .pgadmin-controls .control,
.preferences_content .pgadmin-controls .alt {
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.preferences_content .pgadmin-controls input[type="checkbox"] {
  margin-top: 4px !important;
}
*/
