/** Dividing a pixel var with 1px or rem var with 1rem removes the unit px/rem **/
$enable-flex: true !default;


$white: #fff;
$black: #000;

$color-bg: #fff !default;
$color-fg: #000 !default;

$color-bg-theme: #fff !default;
$color-fg-theme: #222222 !default;

$color-bg-inverse: $color-fg;
$color-fg-inverse: $color-bg;

$color-primary: #326690 !default;
$color-primary-fg: #fff !default;

$color-secondary: $white !default;

$color-danger: #e53935 !default;
$color-danger-fg: #fff !default;

$color-success: #43a047 !default;
$color-success-fg: $color-fg !default;

$color-warning: #eea236 !default;
$color-warning-fg: $color-fg !default;

$color-brand: #fff !default;
$color-editor-bg: $color-bg !default;
$color-editor-keyword: #908 !default;
$color-editor-number: #964 !default;
$color-editor-foldmarker: #0000FF !default;
$color-editor-activeline: #50B0F0 !default;

$gray-base: #000 !default;

$color-gray-darker: #5b6d7c;
$color-gray-dark: #848ea0;
$color-gray: #bac1cd;
$color-gray-light: #ebeef3;
$color-gray-lighter: #f3f5f9;
$color-gray-white: #f3f5f9;

$color-primary-light: #d6effc;
$color-primary-dark: #295c85;

$color-primary-lighter: lighten($color-primary, 50%);
$color-primary-darker: darken($color-primary, 25%);

$color-danger-light: #FBE1E1;

$color-danger-lighter: lighten($color-danger, 40%);
$color-danger-dark: darken($color-danger, 10%);
$color-danger-darker: darken($color-danger, 25%);

$color-success-light: #DDF1DE;
$color-success-lighter: lighten($color-success, 50%);
$color-success-dark: darken($color-success, 10%);
$color-success-darker: darken($color-success, 25%);

$color-warning-light: lighten($color-warning, 25%);
$color-warning-lighter: lighten($color-warning, 40%);
$color-warning-dark: darken($color-warning, 25%);
$color-warning-darker: darken($color-warning, 40%);

/* Typography */
$font-family-primary: "Open Sans" !default;
$font-family-semibold: "Open Sans Semibold" !default;
$font-family-editor: 'Source Code Pro' !default;

$border-width: 1px;
$border-color: rgba($color-gray, .5);
$border-color-dark: $color-gray;
$box-shadow: 0 0.125rem 0.5rem rgba($color-gray-dark, .175);

/** Bootstrap **/
$gray-600: $color-gray-dark;
$gray-900: $color-fg-theme;
$body-color: $color-fg-theme;
$font-size-base: 0.815rem;
$grid-gutter-width: 15px;
$border-radius: 0.25rem; //no change

$text-color: $color-fg-theme;
$text-muted: $color-gray-dark;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: #fff;
$navbar-dark-disabled-color: $color-gray;

$navbar-toggler-padding-y: 0.25rem; //no-change

$form-group-margin-bottom:  0.5rem;
$btn-active-box-shadow: none;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $color-primary;
$dropdown-border-color: $border-color;
$dropdown-box-shadow: $box-shadow;
$dropdown-divider-bg: $dropdown-border-color;
$dropdown-padding-y: 0.25rem;
$dropdown-item-padding-x: 1rem;
$dropdown-spacer: .125rem; //no-change
$nav-divider-margin-y: .25rem;

$input-btn-focus-width: 0.1rem;
$btn-disabled-opacity: 0.5;
$btn-transition: color .05s ease-in-out, background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .05s ease-in-out;

$card-spacer-y: 0rem;
$card-spacer-x: 0rem;
$card-border-radius: $border-radius;
$card-border-color: $border-color;
$card-cap-bg: $color-bg-theme;
$card-bg: $color-bg-theme;

$nav-tabs-border-color: $border-color;
$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 0px;
$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-active-color: $color-primary;
$nav-tabs-link-active-bg: none;
$nav-tabs-link-active-border-color: none;

$table-cell-padding: 0.25rem;
$table-hover-bg: none; //we will use our own classes
$table-active-bg: $color-primary-light;
$table-border-width: $border-width !default;
$table-border-color: $border-color !default;
$table-head-bg: $color-primary !default;
$table-head-color: $color-primary-fg !default;

$input-color: $color-fg-theme;
$input-border-color: $border-color;
$input-border-radius: $border-radius; //no change
$input-disabled-bg: $color-gray-lighter;
$input-btn-border-width: $border-width; //no change
$input-border-width: $input-btn-border-width; //no change

$btn-border-radius: $border-radius; //no change
/***************/

$active-border: 3px solid $color-primary;
$panel-border-width: $border-width;
$panel-border-color: $border-color;
$panel-border-radius: $border-radius;
$panel-border: $panel-border-width solid $panel-border-color !important;
$panel-border-dark: $panel-border-width solid $border-color-dark !important;
$tabs-padding: 5px 10px 2px;
$title-height: 37px * $font-size-base/1rem;
$footer-padding: 0.5rem;
$footer-min-height: 2.18rem;
$navbar-font-size: 0.875rem;
$navbar-user-font-size: 0.815rem;

$navbar-dropdown-top: 100%;
$dropdown-submenu-top: -$dropdown-spacer;


$table-bg: $color-bg-theme;
$table-bg-selected: $color-primary-light;
$table-hover-border-color: #4fc2f8;
$table-hover-border: $panel-border-width solid #4fc2f8 !important;
$table-hover-bg-color: $color-primary-light;
$datagrid-bg: $color-gray-light;

$sql-title-padding: 3px;
$sql-title-bg: $color-gray-darker;
$sql-title-fg: $white;
$sql-gutters-bg: $color-gray-light;
$sql-history-detail-bg: $color-gray-lighter;
$sql-history-success-bg: $color-primary-light;
$sql-history-success-fg: $color-primary;
$sql-history-error-bg: $color-danger-light;
$sql-history-error-fg: $color-danger;

$negative-bg: $color-gray-light;
$dialog-box-shadow: $box-shadow;

$alertify-borderremove-margin: $panel-border-width;
$btn-secondary-border: $color-gray;
$btn-secondary-hover-bg: $color-gray-light;

$card-header-padding : 0.25rem 0.5rem;
$no-border-radius: 0px !important;

$btn-checkbox-padding: 0.3rem 0.8rem;

$security-text-color: $color-bg-theme;
$security-btn-color: #038bba;
